/coverage
/vendor
composer.phar
composer.lock
.DS_Store
.phpcs-cache
.phpunit.cache
.phpunit.result.cache


.idea
.vscode

/tests/Stubs/storage/framework/views/*
!/tests/Stubs/storage/framework/views/.gitkeep
/tests/Stubs/storage/doctrine.generated.php
laravel-doctrine-orm.iml
/workbench/bootstrap/cache/*
!/workbench/bootstrap/cache/.gitkeep
/workbench/storage/logs/*
/workbench/vendor